<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Product/Index" style="font-size:initial;">Trang Chủ</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <span>
                            <a href="/ShoppingCart/ShowCart">
                                <span class="glyphicon glyphicon-shopping-cart" style="color: #808080; height:30px; width: 30px; margin-top: 12px; "></span>
                            </a>
                        </span>
                        @Html.Action("BagCart", "ShoppingCart")
                    </li>
                    <li><a href="/LoginUser/RegisterUser" style="font-size: initial; margin-top: 2px"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                    <li><a href="/LoginUser/Index" style="font-size: initial; margin-top: 2px"><span class="glyphicon glyphicon-log-in"></span> LogIn </a></li>
                    <li><a href="@Url.Action("LogoutUser","LoginUser")" style="margin-top:2px ;font-size:initial;"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                    <li style="padding-top:15px; color:white;">
                        @if (Session["NameUser"] == null)
                        {
                            <span>Hello</span>
                        }
                        else
                        {
                            <span> <text> Hello </text> @Session["NameUser"] </span>
                        }

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-md-2">
                <ul style="text-decoration:none;background-color:cornflowerblue;border:double ;margin-top:20px;list-style-type:none;padding:10px;">
                    <li><a href="/OrderDetail/GroupByTop5" style="color:white;" id="animation-top5">Top 5 sản phẩm bán chạy</a></li>
                </ul>
                <ul style="list-style-type:none;">
                    <li>
                        <a href="/Product/SearchOption" class="btn btn-default">Search theo giá</a>
                    </li>
                </ul>
                @{ Html.RenderAction("CategoryPartial", "Categories");}      
            </div>
            <div class="col-md-10" id="div-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="div-footer" style="background-color:black;">
        <p>&copy; @DateTime.Now.Year - Design By Quang Editor</p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
